*.ipynb
new.md
output.txt
eg.ged
/vir_env
base.py
family.ged
individual_tb.csv
family_tb.csv
__pycache__/
sa2.ged
sa3.ged
/US33/*.ged
/US33/*.png
/US33/*.txt
/US33/*.zip
AssignmentM4B2_Team_01.zip
M4_B2_Assignment_Team_1.zip
.vim/
pseudo_ged.txt